
.container {
  position: relative;
  width: 300px;
  height: 300px;
}


.cont {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 320px;
  border: 10px solid pink;
  transform: rotate(45deg);
  z-index: 1;
}

.cont::before,
.cont::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 320px;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 1;
  border: 5px solid pink;
  box-sizing: border-box;
}



.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  z-index: 2;
  border: 10px solid rgb(148, 148, 148);
}

.cont::after {
  border-color: rgba(255, 192, 203, 0.5);
  width: 340px;
  height: 340px;
  z-index: 0;
}
