.container{
    margin: 1%;
    width: 250px;
    box-shadow:0 0 20px rgb(0, 0, 0);
    overflow:hidden;
    display: inline-block;
}

.top, .proj, .text{
    padding: 5px;
}

.top{
    font-size: small;
    color: rgb(155, 155, 155);
}

.proj{
    font-weight: bold;
}

img {
  width: 300px;
  height: 120px;
  object-fit: cover;
}
